{% extends "base.html" %}
{% block title %}Candidate List{% endblock %}
{% block content %}
    <div class="card shadow-sm">
        <div class="card-header bg-white">
            <h4 class="mb-0">Candidate List</h4>
            <br/>
            <form method="get">
                <label>Filter by Department:</label>
                <select name="department" onchange="this.form.submit()">
                    <option value="">-- All --</option>
                    {% for dept in departments %}
                        <option value="{{ dept }}"
                                {% if selected_department == dept %}selected{% endif %}>{{ dept }}</option>
                    {% endfor %}
                </select>
            </form>
            <br/>
            <table class="table table-bordered table-hover table-striped align-middle shadow-sm">
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Date of Birth</th>
                    <th>Experience (Years)</th>
                    <th>Department</th>
                    <th>Resume</th>
                </tr>
                </thead>
                <tbody>
                {% for candidate in page.object_list %}
                    <tr>
                        <td>{{ candidate.full_name }}</td>
                        <td>{{ candidate.date_of_birth }}</td>
                        <td>{{ candidate.years_of_experience }}</td>
                        <td>{{ candidate.department }}</td>
                        <td>
                            {% if is_admin and candidate.resume %}
                                <a href="{% url 'download_resume' candidate.id %}">Download</a>
                            {% elif candidate.resume %}
                                Resume uploaded
                            {% else %}
                                No Resume
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No candidates found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div>
                {% if page.has_previous %}
                    <a href="?{% if selected_department %}department={{ selected_department }}&{% endif %}page={{ page.previous_page_number }}">Previous</a>
                {% endif %}

                Page {{ page.number }} of {{ page.paginator.num_pages }}

                {% if page.has_next %}
                    <a href="?{% if selected_department %}department={{ selected_department }}&{% endif %}page={{ page.next_page_number }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

